<html>
<head>
  <title>Nouveau constact pour du dev via le site</title>
</head>
<body>
<header style="background-image: url('http://ambientpreprod.cloudapp.net/images/logo/logos web-03.png');">

</header>
<p>
  <%= contact.displayName %> viens de s'inscrire via le formulaire du site, pour assurer un dev de type <%= contact.type %>

  <%= contact.message %>
</p>
<p>
  Vous pouvez retrouver tous les details en cliquant <a href="<%= config.url %>/admin/#/contact/show/<%= contact.id %>">ici</a>
</p>
</body>
</html>
