<html>
<head>
  <title>Nouveau contact via le site</title>
</head>
<body>
<header style="background-image: url('<%= config.url %>/images/logo.png');">

</header>
<p>
  <%= contact.displayName %> de l'entreprise <%= contact.company %>, est intéresser par les formations suivantes :
</p>
<br/>
<ul>
  <% contact.formations.forEach(function(formation){ %>
  <li><%= formation.name %></li>
  <% }) %>
</ul>
<p>
  <%= contact.message %>
</p>
<br/>
<p>
  Vous pouvez retrouver tous les details en cliquant <a href="<%= config.url %>/admin/#/contact/show/<%= contact.id %>">ici</a>
</p>
</body>
</html>
