<main class="container">
  <section class="row" >
    <% categories.forEach(function(category){ %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding:0 0;">
        <h3 style="text-align:center;">
          <%= category.name %>
        </h3>
        <div class="list-group">
        <% category.formations.forEach(function(formation){ %>
          <div class="list-group-item formation-item">
            <div class="row-picture">
              <img class="circle" src="<%= formation.avatar %>"  alt="<%= formation.name %> logo">
            </div>
            <div class="row-content">
              <a href="/formation/<%= formation.slug %>">
                <h4 class="list-group-item-heading">
                  <%= formation.name %>
                </h4>
              </a>
              <p class="list-group-item-text">
                <%= formation.description %>
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </section>
</main>
