<article>
  <section class="container">
    <div class="container-fluid">
      <h1><%= formation.name%></h1>
      <div class="row">
        <section class="col-xs-12 col-md-8">
          <%= formation.program %>
        </section>
        <aside class="col-xs-12 col-md-4">
          <section class="well">
            <p>
              durée : <%= formation.duration %> jours
            </p>

            <p>
              <%= formation.price %> € / participant
            </p>
          </section>
          <section class="well">
            <a href="/contact?formation=<% formation.slug %>" class="btn btn-default btn-block">Demande de devis</a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum est nam odio quis? Dolorum error et fugiat
              laudantium totam vero. Atque consequatur ea excepturi nisi nostrum repellendus sint totam velit.</p>

          </section>
          <section class="well">
            Prérequis :
            <ul class="media-list">
              <% if(formation.previous){ %>
              <% formation.previous.forEach(function(prev){ %>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" style="border-radius:30%;" height="40px"
                       src="../images/formation/logo.jpg" alt="<%= prev.name %>">
                </div>
                <div class="media-body" style="padding-top:8px">
                  <a href="/formation/<% prev.slug %>"><%= prev.name %></a>
                </div>
              </li>
              <% })} %>
            </ul>


            <div class="list-group">

            </div>
          </section>
          <section class="well">
            Pour la suite ;) :
            <ul class="media-list">
              <% if(formation.next){formation.next.forEach(function(next){ %>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" style="border-radius:30%;" height="40px"
                       src="../images/formation/logo.jpg" alt="<%= next.name %>">
                </div>
                <div class="media-body" style="padding-top:8px">
                  <a href="/formation/<% next.slug %>"><%= next.name %></a>
                </div>
              </li>
              <% })} %>
            </ul>
          </section>
        </aside>
      </div>
    </div>
  </section>
</article>
