<main class="container">
  <article class="well">
    <h1><%= formation.name %></h1>

    <div class="row">
      <section class="col-xs-12 col-md-8">
        <%- formation.program %>
      </section>
      <aside class="col-xs-12 col-md-4">
        <!--<section class="well">-->
        <!--<p>-->
        <!--durée : <%= formation.duration %> jours-->
        <!--</p>-->

        <!--<p>-->
        <!--<%= formation.price %> € / participant-->
        <!--</p>-->
        <!--</section>-->
        <section class="well">
          <a href="/formation/<%= formation.slug %>/pdf" class="btn btn-primary btn-block">Telecharger le pdf</a>
          <a href="/contact?formation=<%= formation.slug %>" class="btn btn-primary btn-block">Demande de devis</a>
          <br/>
          <% if(formation.duration){ %>
          <p>
            durée : <%= formation.duration %> jours
          </p>
          <% } %>
          <p>
            <%= formation.description %>
          </p>

        </section>
        <% if(formation.previous.length > 0) { %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Prérequis :</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <% formation.previous.forEach(function(formation){ %>
              <div class="list-group-item formation-item">
                <div class="row-picture">
                  <img class="circle" src="<%= formation.image || '/images/formation/logo.jpg' %>"
                       alt="<%= formation.name %> logo">
                </div>
                <div class="row-content">
                  <a href="/formation/<%= formation.slug %>">
                    <h4 class="list-group-item-heading">
                      <%= formation.name %>
                    </h4>
                  </a>

                  <p class="list-group-item-text">
                    <%= formation.description %>
                  </p>
                </div>
              </div>
              <div class="list-group-separator"></div>
              <% }) %>
            </div>
          </div>
        </div>
          <% } %>
          <% if (formation.next.length > 0) { %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Pour la suite :</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <% formation.next.forEach(function(formation){ %>
                <div class="list-group-item formation-item">
                  <div class="row-picture">
                    <img class="circle" src="<%= formation.image || '/images/formation/logo.jpg' %>"
                         alt="<%= formation.name %> logo">
                  </div>
                  <div class="row-content">
                    <a href="/formation/<%= formation.slug %>">
                      <h4 class="list-group-item-heading">
                        <%= formation.name %>
                      </h4>
                    </a>

                    <p class="list-group-item-text">
                      <%= formation.description %>
                    </p>
                  </div>
                </div>
                <div class="list-group-separator"></div>
                <% }) %>
              </div>
            </div>
          </div>
          <% } %>
      </aside>
    </div>
  </article>
</main>
