<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <style>
    html, body, main{
      height:100%;
    }
  </style>
</head>
<body class="container">
<header>
  <div>
    <img src="http://ambient-it.net/images/logo.png" alt="ambient-it logo" height="50px"/>
  </div>
  <h1 style="text-align:center;">
    Programme de formation
    <%= name %>
  </h1>
</header>
<main style="position:relative;" class="row">
  <article class="col-xs-8">
    <p style="padding-left:20px;">
      <%- program %>
    </p>
  </article>
  <aside class="col-xs-4">
    <p>
      Durée <%= duration %> jours.
    </p>
    <% if(previous.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prérequis :</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% previous.forEach(function(formation){ %>
          <div class="list-group-item formation-item">
            <div class="row-content">
              <a href="/formation/<%= formation.slug %>">
                <h4 class="list-group-item-heading">
                  <%= formation.name %>
                </h4>
              </a>
              <p class="list-group-item-text">
                <%= formation.description %>
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <% }) %>
        </div>
      </div>
    </div>
    <% } %>
    <% if (next.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pour la suite :</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% next.forEach(function(formation){ %>
          <div class="list-group-item">
            <div class="row-picture">
              <img class="circle" with="100px" src="<%= formation.image || 'http://ambient-it.net/images/formation/logo.jpg' %>"
                   alt="<%= formation.name %> logo">
            </div>
            <div class="row-content">
              <a href="/formation/<%= formation.slug %>">
                <h4 class="list-group-item-heading">
                  <%= formation.name %>
                </h4>
              </a>
              <p class="list-group-item-text">
                <%= formation.description %>
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <% }) %>
        </div>
      </div>
    </div>
    <% } %>
  </aside>
  <footer>
    <h3>
      Nos formateurs qui animent cette formations :
    </h3>
    <div class="list-group">
      <% trainers.forEach(function(trainer){ %>
      <div class="col-xs-4 list-group-item">
        <div class="row-picture">
          <img class="circle" with="50px" src="<%= trainer.picture %>"
               alt="<%= trainer.name %> logo">
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">
            <%= trainer.displayName %>
          </h4>
          <p class="list-group-item-text">
            <%= trainer.description %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </footer>
</main>

</body>
</html>
